{% extends "admin/change_form.html" %}
{% block content %}
{{ block.super }}

<div>
  National summaries:
  <ul>
    {% for cycle in cycles %}
    <li>
      {{ cycle.name }} -
      <a href="{% url "national-summary-pdf" original.slug cycle.id %}">Summary</a>
      |
      <a href="{% url "national-poster-pdf" original.slug cycle.id %}">Poster</a>
    </li>
    {% endfor %}
  </ul>
  Province summaries:
  <ul>
    {% for province in provinces %}
    <li>
      {{ province.name }}
      <ul>
        {% for cycle in cycles %}
        <li>
          {{ cycle.name }} -
          <a href="{% url "province-summary-pdf" original.slug province.slug cycle.id %}">Summary</a>
          |
          <a href="{% url "province-poster-pdf" original.slug province.slug cycle.id %}">Poster</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
