{% load lookup markup_tags jsonify %}

  <!-- {{ element|jsonify }} -->

  {% if element.type in ignore_types or element.pathstr in ignore_paths %}
  <!-- skipping element.type={{ element.type }} or path={{ element.pathstr }} -->

  {#### GROUP ####}
  {% elif element.type == 'group'  and results.questions_dict %}
  <h3>{{ element.label }}</h3>
  {% for element in element.children %}
  {% include "print-materials/_question_summary_gendered.html" %}
  {% endfor %}

  {#### GROUP HEADER ####}
  {% elif element.control.appearance == 'label' %}
  <h3>{{ element.label }}</h3>

  {#### NOTE ####}
  {% elif element.type == 'note' %}
  <p><em>Note:</em> {{ element.label }}</p>

  {#### TEXT QUESTION ####}
  {% elif element.type == 'text' %}
  {% if text_questions %}
  {% with q=text_questions|get:element.name %}
  {% if q %}
  <h4>Q: {{ q.label }}</h4>
  <p>{{ q.count }} responses</p>
  <ul>
    {% for comment in q.comments %}
    {% with count=q.comments|get:comment %}
    <li>{{ comment }}{% if count != 1 %} <em>({{ count }})</em>{% endif %}</li>
    {% endwith %}
    {% endfor %}
  </ul>
  {% endif %}{# q is defined #}
  {% endwith %}
  {% endif %}{# text_questions is defined #}

  {#### MULTIPLE CHOICE ####}
  {% elif element.type in multiple_choice_types and results.questions_dict %}
  {% with question_key=element.pathstr %}
  {% with question=results.questions_dict|get:question_key %}
  {% with first_option=question.options|first %}

  <section class="stat-row question">
    <h3>{{ question.label }}</h3>

    {% if question.options|length <= 3 and first_option.current.label|length < 10 %}
      <div class="row">
        <div class="col-sm-3">
          <h5>Female</h5>
          <div class="chart chart-column" data-indicator="{{ question.key }}:female"></div>
        </div>

        <div class="col-sm-3 col-sm-offset-3">
          <h5>Male</h5>
          <div class="chart chart-column" data-indicator="{{ question.key }}:male"></div>
        </div>
      </div>

    {% else %}

      <div class="row">
        <div class="col-sm-6">
          <h5>Female</h5>
          <div class="chart chart-bar" data-indicator="{{ question.key }}:female"></div>
        </div>

        <div class="col-sm-6">
          <h5>Male</h5>
          <div class="chart chart-bar" data-indicator="{{ question.key }}:male"></div>
        </div>
      </div>
    {% endif %}
  </section>

  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endif %}{# question type #}
