@charset "utf-8";

// BOOTSTRAP VARIABLE OVERIDES 

$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

//== Colors

$white: #fff;
$black: #000;

$orange: #f6921d;
$green: #8cc63f;

$blue: rgb(24,148,184);
$teal: rgb(100,200,150);

$beige: rgb(231,217,189);

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$brand-primary: $orange !default;

$brand-primary-light: lighten($brand-primary,10%);
$brand-primary-dark: darken($brand-primary,10%);

$brand-secondary: $green;

$brand-secondary-light: lighten($brand-secondary,10%);
$brand-secondary-dark: darken($brand-secondary,10%);

//- Section Colors

$color-sites: $blue;
$color-sites-dark: darken($color-sites, 20%);
$color-sites-light: lighten($color-sites, 20%);

$color-partners: $teal;
$color-partners-dark: darken($color-partners,20%);
$color-partners-light: lighten($color-partners, 20%);

//== Typography

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-2: "Montserrat", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 16px !default;

$line-height-base: 2 !default;
$headings-line-height: 1.6 !default;
$headings-color: $black;

//== Links

$link-color: $brand-primary !default;
$link-hover-color: $brand-secondary-dark !default;
$link-hover-decoration: none !default;

//== Navbar

$navbar-height: 20px !default;

$navbar-default-color: $white !default;
$navbar-default-bg: $brand-primary-dark !default;

$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: $brand-secondary !default;

$navbar-border-radius: 0 !default;
$navbar-margin-bottom: 0;

$navbar-default-link-active-color: #000 !default;
$navbar-default-link-active-bg: $white;

//== Jumbotron

$jumbotron-bg: $white;

//== Breadcrumbs
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: transparent;
$breadcrumb-color: $black !default;
$breadcrumb-active-color: #000 !default;
$breadcrumb-separator: "→" !default;

//== Buttons

$btn-font-weight: bold;

$btn-primary-color: #fff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: transparent;

$btn-default-border: transparent;

$btn-border-radius-base: 4px !default;
$btn-border-radius-large: 50px;

//== Forms
$input-color: $black !default;
$input-border: transparent !default;
$input-color-placeholder: $gray-light !default;
$input-border-focus: $brand-primary !default;

//============================================================================================

// Import Bootstrap SASS
@import "_bootstrap.scss";

@import "site.scss";
@import "stats.scss";
