@charset "utf-8";

// BOOTSTRAP VARIABLE OVERIDES

$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

//== Colors

$white: #fff;
$black: #000;

$orange: #f6921d;
$green: #669933;

$blue: rgb(44,168,204);
$teal: rgb(100,200,150);

$beige: rgb(231,217,189);

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$brand-primary: $orange !default;

$brand-primary-light: lighten($brand-primary,10%);
$brand-primary-dark: darken($brand-primary,10%);

$brand-secondary: $green;

$brand-secondary-light: lighten($brand-secondary,10%);
$brand-secondary-dark: darken($brand-secondary,10%);

//- Section Colors

$color-sites: $blue;
$color-sites-dark: darken($color-sites, 20%);
$color-sites-light: lighten($color-sites, 20%);

$color-partners: $teal;
$color-partners-dark: darken($color-partners,20%);
$color-partners-light: lighten($color-partners, 20%);

//== Typography

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-2: "Montserrat", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 16px !default;

$text-color: $black !default;

$headings-font-family: $font-family-sans-serif-2;
$headings-color: $black;

//== Links

$link-color: $brand-primary !default;
$link-hover-color: $brand-secondary !default;
$link-hover-decoration: none !default;

//== Navbar

$navbar-height: 20px !default;

$navbar-default-color: $white !default;
$navbar-default-bg: transparent !default;

$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: $brand-secondary !default;

$navbar-border-radius: 0 !default;
$navbar-margin-bottom: 0;

$navbar-default-link-active-color: #000 !default;
$navbar-default-link-active-bg: $white;

//== Jumbotron

$jumbotron-bg: $white;
$jumbotron-font-size: ceil(($font-size-base * 1.2)) !default;

//== Breadcrumbs
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: transparent;
$breadcrumb-color: $black !default;
$breadcrumb-active-color: #000 !default;
$breadcrumb-separator: "→" !default;

//== Buttons

$btn-font-weight: bold;

$btn-primary-color: #fff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: transparent;

$btn-default-border: transparent;

$btn-border-radius-base: 6px !default;
$btn-border-radius-large: 10px !default;
$btn-border-radius-small: 3px !default;


//== Forms
$input-color: $black !default;
$input-border: transparent !default;
$input-color-placeholder: $gray-light !default;
$input-border-focus: transparent !default;

//============================================================================================

// Import Bootstrap SASS
@import "_bootstrap.scss";

@import "site.scss";
@import "stats.scss";
@import "healthe.scss";

.poster {
  .container {
    width:1140px !important;
    max-width: none !important;
  }

  .header {
    .site, .date {
      color:rgb(0,0,0) !important;
    }

    .partner {
      left:30px;
      top:95px;
      color:rgb(255,255,255) !important;
      font-size:35px;
    }

    .date {
      right:0;
      top:0;
      font-size:20px;
    }

    .site {
      left:30px;
      bottom:0;
    }
  }

  .survey {
    margin-top:15px;
    padding:0 15px;

    .border {
      margin:0 15px;
    }

    .survey-summary {
      position:relative;
    }

    .statistics {
      border:1px solid rgb(0,0,0);
      padding:5px 20px;
      height:91px;
      width:95%;
      margin:auto;
      top:0;
      bottom:0;
      position:absolute;
      font-size:12px;

      .heading {
        text-transform: uppercase;
        text-align:right;
      }

      .col-xs-2 {
        text-align:center;
        padding:0;

        &:nth-child(2) {
          border-right:1px solid rgb(0,0,0);
        }
      }

      .text-large {
        font-size:16px;
      }

      .text-medium {
        font-size:13px;
      }
    }
  }

  .code4sa-footer {
    .code4sa-logo {
      margin-top:10px;
      margin-right:5px;
    }
  }
}

.brochure {
  &.container {
    width:1440px !important;
  }

  .margin-bottom {
    margin-bottom:60px;
  }

  .content {
    margin-top:35px;
    padding-top:25px;

    h4 {
      margin-top:15px;
      font-size:18px;
    }
  }

  .tab-p {
    h4, p {
      padding-left:20px;
    }
  }

  .mavc-footer {
    border-top:1px dashed rgb(0,0,0);
    border-bottom:1px dashed rgb(0,0,0);
    margin-top:200px;
    padding:0 15px 0 60px;

    .row {
      padding-top:25px;
      padding-bottom:15px;
    }

    .col-xs-4 {
      position:relative;

      img {
        width:100%;
        position:absolute;
        margin:auto;
        top:0;
        right:0;
        bottom:0;
        left:0;
        height:50%;
        width:auto;
      }
    }
  }

  .page-1, .page-2 {
    padding:20px 0;
  }

  .page-1 {
    page-break-after: always;

    .partner {
      color:rgb(255,255,255) !important;

      b {
        color:rgb(255,255,255) !important;
      }
    }

    .left {
      position:relative;

      .header {
        .partner {
          font-size:22px;
          left: 13px;
          top:33px;
        }
      }

      ul {
        padding-left:60px;
      }

      .contact-details {
        padding:0 25px 10px;

        h4, p {
          margin-bottom: 2px;
        }
      }
    }

    .right {
      font-size:13px;

      .dashed-box {
        padding:10px 20px;
        border:1px dashed rgb(0,0,0);
      }

      .partner {
        left:20px;
        top:60px;
        font-size:22px;
      }

      .date {
        right:0;
        top:0;
        font-size:13px;
        color:rgb(0,0,0);
      }

      .site {
        left:20px;
        bottom:-5px;
        font-size:22px;
      }

      .how-data {
        position:relative;

        .how-data-box {
          padding:15px;
          border:1px solid rgb(0,0,0);

          h4 {
            margin-top:0;
          }
        }
      }

      footer {
        margin-top:15px;
        page-break-after:always;
      }
    }
  }

  .page-2 {
    .survey {
      .survey-header {
        h2 {
          font-size:25px;
          margin-top:20px;
        }
        .col-xs-2 {
          padding:0;
          img {
            max-width:100%;
          }
        }
        .statistics {
          display:inline-block;

          p {
            margin-bottom:0;
          }
        }
      }
      .survey-body {
        margin-top:80px;

        h4 {
          font-size:15px;
        }
      }
    }

    .tips {
      h1 {
        color:rgb(0,0,0);
        font-size:22px;
        margin-bottom:25px;
      }
      ul {
        padding-left:60px;
      }
    }

    .i-plan {
      margin-top:20px;

      .i-plan-table {
        padding:0 15px;
        border-left:1px solid rgb(0,0,0);
        border-right:1px solid rgb(0,0,0);
        counter-reset:row;

        .i-plan-table-header {
          background-color:rgb(0,0,0) !important;
          color:rgb(255,255,255) !important;
          padding-top:5px;
          padding-bottom:5px;
          font-size:12px;

          .col-xs-2 {
            color:rgb(255,255,255) !important;
          }
        }

        .i-plan-table-row {
          border-bottom:1px solid rgb(0,0,0);

          .col-xs-2 {
            border-right:1px dashed rgb(0,0,0);
            height:70px;

            &:last-child {
              border-right:none;
            }

            &:first-child {
              position:relative;

              &:before {
                counter-increment:row;
                content:counter(row);
                height:20px;
                width:20px;
                background-color: rgb(0,0,0) !important;
                border-radius: 20px;
                color:rgb(255,255,255) !important;
                position:absolute;
                left:-10px;
                top:0;
                bottom:0;
                margin:auto 0;
                text-align:center;
                font-weight:bold;
                line-height:20px;
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  .poster {
    .container {
      height:267mm !important;
      width:180mm !important;
      margin:15mm 15mm 15mm 15mm !important;
    }

    .header {
      .partner {
        font-size:32px;
      }

      .site {
        font-size:32px;
        bottom:-8px;
      }

      .date {
        font-size:20px;
      }
    }

    .survey {
      .survey-item {
        .question {
          font-size:13px;
        }
        .response {
          img {
            max-height:230px !important;
            width:auto;
          }
        }
      }
      .statistics {
        font-size:10px;
        height:86px;
        padding-top:10px;
        padding-bottom:10px;

        .text-large {
          font-size:13px;
        }

        .text-medium {
          font-size:11px;
        }
      }
    }

    .code4sa-logo {
      margin-top:15px;
      height:80px;
      width:auto;
    }
  }

  .brochure {
    font-size:24px;
    line-height:1.5;

    &.container {
      width: 791mm !important;
      height: 544mm !important;
    }

    .page-1 {
      .header {
        img {
          width:100%;
        }
      }

      .left {
        .header {
          .partner {
            font-size:40px;
            left:26px;
            top:68px;
          }
        }
      }

      .right {
        font-size:16px;

        .header {
          .partner {
            left:34px;
            top:110px;
            font-size:40px;
          }

          .date {
            font-size:24px;
          }

          .site {
            left:34px;
            bottom:-15px;
            font-size:42px;
          }
        }

        .dashed-box {
          padding:20px 40px;
        }
      }

      .code4sa-footer {
        .code4sa-logo {
          margin-top:30px;
          width:220px;
          height:120px;
        }
      }
    }

    .page-2 {
      .tips {
        li {
          margin-bottom:15px;
        }
      }

      .i-plan {
        .i-plan-table {
          .i-plan-table-row {
            .col-xs-2 {
              height:140px;

              &:first-child {
                &:before {
                  height:40px;
                  width:40px;
                  line-height:40px;
                  font-size:25px;
                  left:-20px;
                }
              }
            }
          }
        }
      }
    }

    .mavc-footer {
      margin-top:300px;
      padding-left:90px;
    }

    .how-data-box {
      position:absolute;
      margin:auto;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:100%;
      height:74%;
      padding:30px;
    }

    .what-is {
      .col-xs-8 {
        margin-right:20px;
      }

      .col-xs-4 {
        margin-left:20px;
      }
    }

    .top-box {
      padding-left:30px;
      padding-right:30px;
    }

    .page-1, .page-2 {
      padding:25mm 25mm 25mm 25mm !important;

      &> .col-xs-6 {
        &:first-child {
          padding-right:75px;
        }

        &:last-child {
          padding-left:75px;
        }
      }
    }
  }
}

.print {
  -webkit-print-color-adjust: exact;

  h1, h2, h3, h4 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight:normal;
  }

  .header {
    position:relative;

    h1, h2, h3, h4 {
      position:absolute;
    }

    img {
      max-width:100%;
    }

    .partner, .date, .site {
      position:absolute;
      display:inline-block;
    }
  }

  .border-top-dashed {
    border-top:2px dashed rgb(0,0,0);
  }

  .border-dashed {
    border:1px dashed rgb(0,0,0);
  }

  .border-solid {
    border:1px solid rgb(0,0,0);
  }

  .tab {
    padding-left:15px;
  }

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .row-not-flex {
    display: block;
  }

  .survey-item {
    margin:5px 0;
    border-right:1px solid rgb(0,0,0);

    .response {
      img {
        width:100%;
        vertical-align:bottom;
      }
    }

    &:last-child {
      border-right:none;
    }
  }
}
