@charset "utf-8";

// BOOTSTRAP VARIABLE OVERIDES

$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

//== Colors

$white: #fff;
$black: #000;

//== Typography

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-2: "Montserrat", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 16px !default;

$text-color: $black !default;

$headings-font-family: $font-family-sans-serif-2;
$headings-color: $black;

//============================================================================================

// Import Bootstrap SASS
@import "_bootstrap.scss";

//============================================================================================

.a4-page {
  // force size to be a4 page when printed with 0cm margins on all sides
  box-sizing: content-box;
  width: 21cm; // 21cm - 0.5cm margin
  height: 21cm * 1.414;
  margin: 0.5cm;

  overflow: hidden;

  &.debug {
    border: 5px dashed hotpink;
  }
}

.poster {
  .row {
    margin: 0;
  }

  &.sassa-service-office {
    [class*=col] {
      .black-banner {
        padding:7px;
      }

      &:first-child {
        .black-banner {
          margin-right:15px;
        }
      }
    }

    .survey {
      &> .row {
        border-top:none;

        .col-xs-7 {
          .question {
            text-align:left;
          }
        }

        .col-xs-5 {
          .row {
            &:first-child {
              .survey-item {
                margin-top:0;
              }
            }
          }
        }
      }
    }
  }

  &.health {
    .how-long {
      margin-top:10px;
      margin-bottom:0;
    }

    .no-padding {
      padding:0;
    }

    .pointer {
      width:66%;
      border-top:1px solid rgb(0,0,0);
      position:relative;
      height:10px;
      margin:0 auto;

      .left, .middle, .right {
        height:10px;
        width:1px;
        background-color:rgb(0,0,0);
        position:absolute;
        top:0;
      }

      .left {
        left:0;
      }

      .middle {
        left:50%;
      }

      .right {
        right:0;
      }
    }
  }

  &.local-gov {
    .header {
      padding-bottom:50px;
    }
  }

  .header {
    overflow: hidden;
    height: 155px;

    .partner, .date, .site {
      position: absolute;
      white-space: nowrap;
    }

    .partner, .site, .location {
      left: 22px;
    }

    .banner {
      width:100%;
    }

    .partner {
      top: 70px;
      color: white !important;
      font-size: 21px;
    }

    .date {
      right: 5px;
      top: 5px;
      font-size: 12px;
      text-transform: uppercase;
      color: black !important;
    }

    .site {
      top: 110px;
      font-size: 23px;
      font-weight: bold;
      font-style: italic;
      color: black !important;
    }

    .location {
      font-size: 18px;
    }
  }

  .border-left {
    border-left:1px solid rgb(0,0,0);
  }

  .survey {
    h3 {
      font-size: 16px;
    }

    .border {
      margin:0 15px;
    }

    .row {
      border-top:2px dashed rgb(0,0,0);
      display:flex;

      &.no-border {
        border-top:none;
      }

      &.border-bottom {
        border-bottom:2px dashed rgb(0,0,0);
      }
    }

    .survey-item {
      display:flex;
      flex-direction:column;
      padding: 10px;

      text-align: center;

      &.no-border {
        border-right:none;
      }

      .question {
        margin-bottom: 10px;
        font-size:13px;
        text-transform: uppercase;
      }

      .response {
        margin-top:auto;

        rect {
          &.box {
            border:1px dashed $black;
            fill:transparent;
            stroke: #111;
            stroke-width: 1;
            stroke-dasharray:2,3;
          }
        }

        text {
          fill: $black !important;

          &.label {
            font-weight:normal;
            text-align:center;
            text-anchor:middle;
            alignment-baseline:central;
            dominant-baseline:central;
          }
        }
      }
    }

    .totals-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .totals-table {
      font-size:10px;
      height:86px;
      width:100%;
      border:1px solid rgb(0,0,0);
      padding: 10px 20px;

      .heading {
        text-transform: uppercase;
        text-align:right;
      }

      .col-xs-2 {
        text-align:center;
        padding:0;

        &:nth-child(2) {
          border-right:1px solid rgb(0,0,0);
        }
      }

      .text-large {
        font-size:13px;
      }

      .text-medium {
        font-size:11px;
      }
    }
  }

  .code4sa-footer {
    .code4sa-logo {
      margin-right:5px;
      margin-top:15px;
      height:80px;
      width:auto;
    }
  }
}

.brochure {
  &.container {
    width:1440px !important;
  }

  .margin-bottom {
    margin-bottom:60px;
  }

  .content {
    margin-top:35px;
    padding-top:25px;

    h4 {
      margin-top:15px;
      font-size:18px;
    }
  }

  .tab-p {
    h4, p {
      padding-left:20px;
    }
  }

  .mavc-footer {
    border-top:1px dashed rgb(0,0,0);
    border-bottom:1px dashed rgb(0,0,0);
    margin-top:200px;
    padding:0 15px 0 60px;

    .row {
      padding-top:25px;
      padding-bottom:15px;
    }

    .col-xs-4 {
      position:relative;

      img {
        width:100%;
        position:absolute;
        margin:auto;
        top:0;
        right:0;
        bottom:0;
        left:0;
        height:50%;
        width:auto;
      }
    }
  }

  .page-1, .page-2 {
    padding:20px 0;
  }

  .page-1 {
    page-break-after: always;

    .partner {
      color:rgb(255,255,255) !important;

      b {
        color:rgb(255,255,255) !important;
      }
    }

    .left {
      position:relative;

      .header {
        .partner {
          font-size:22px;
          left: 13px;
          top:33px;
        }
      }

      ul {
        padding-left:60px;
      }

      .contact-details {
        padding:0 25px 10px;

        h4, p {
          margin-bottom: 2px;
        }
      }
    }

    .right {
      font-size:13px;

      .dashed-box {
        padding:10px 20px;
        border:1px dashed rgb(0,0,0);
      }

      .partner {
        left:20px;
        top:60px;
        font-size:22px;
      }

      .date {
        right:0;
        top:0;
        font-size:13px;
        color:rgb(0,0,0);
      }

      .site {
        left:20px;
        bottom:-5px;
        font-size:22px;
      }

      .how-data {
        position:relative;

        .how-data-box {
          padding:15px;
          border:1px solid rgb(0,0,0);

          h4 {
            margin-top:0;
          }
        }
      }

      footer {
        margin-top:15px;
        page-break-after:always;
      }
    }
  }

  .page-2 {
    .survey {
      .survey-header {
        h2 {
          font-size:25px;
          margin-top:20px;
        }
        .col-xs-2 {
          padding:0;

          img {
            max-width:100%;
          }
        }
        .totals-table {
          display:inline-block;

          p {
            margin-bottom:0;
          }
        }
      }
      .survey-body {
        margin-top:80px;

        h4 {
          font-size:15px;
        }
      }
    }

    .tips {
      h1 {
        color:rgb(0,0,0);
        font-size:22px;
        margin-bottom:25px;
      }
      ul {
        padding-left:60px;
      }
    }

    .i-plan {
      margin-top:20px;

      .i-plan-table {
        padding:0 15px;
        border-left:1px solid rgb(0,0,0);
        border-right:1px solid rgb(0,0,0);
        counter-reset:row;

        .i-plan-table-header {
          background-color:rgb(0,0,0) !important;
          color:rgb(255,255,255) !important;
          padding-top:5px;
          padding-bottom:5px;
          font-size:12px;

          .col-xs-2 {
            color:rgb(255,255,255) !important;
          }
        }

        .i-plan-table-row {
          border-bottom:1px solid rgb(0,0,0);

          .col-xs-2 {
            border-right:1px dashed rgb(0,0,0);
            height:70px;

            &:last-child {
              border-right:none;
            }

            &:first-child {
              position:relative;

              &:before {
                counter-increment:row;
                content:counter(row);
                height:20px;
                width:20px;
                background-color: rgb(0,0,0) !important;
                border-radius: 20px;
                color:rgb(255,255,255) !important;
                position:absolute;
                left:-10px;
                top:0;
                bottom:0;
                margin:auto 0;
                text-align:center;
                font-weight:bold;
                line-height:20px;
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  .brochure {
    font-size:24px;
    line-height:1.5;

    &.container {
      width: 791mm !important;
      height: 544mm !important;
    }

    .page-1 {
      .header {
        img {
          width:100%;
        }
      }

      .left {
        .header {
          .partner {
            font-size:40px;
            left:26px;
            top:68px;
          }
        }
      }

      .right {
        font-size:16px;

        .header {
          .partner {
            left:34px;
            top:110px;
            font-size:40px;
          }

          .date {
            font-size:24px;
          }

          .site {
            left:34px;
            bottom:-15px;
            font-size:42px;
          }
        }

        .dashed-box {
          padding:20px 40px;
        }
      }

      .code4sa-logo {
        margin-top:30px;
        width:220px;
        height:120px;
      }
    }

    .page-2 {
      .tips {
        li {
          margin-bottom:15px;
        }
      }

      .i-plan {
        .i-plan-table {
          .i-plan-table-row {
            .col-xs-2 {
              height:140px;

              &:first-child {
                &:before {
                  height:40px;
                  width:40px;
                  line-height:40px;
                  font-size:25px;
                  left:-20px;
                }
              }
            }
          }
        }
      }
    }

    .mavc-footer {
      margin-top:300px;
      padding-left:90px;
    }

    .how-data-box {
      position:absolute;
      margin:auto;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:100%;
      height:74%;
      padding:30px;
    }

    .what-is {
      .col-xs-8 {
        margin-right:20px;
      }

      .col-xs-4 {
        margin-left:20px;
      }
    }

    .top-box {
      padding-left:30px;
      padding-right:30px;
    }

    .page-1, .page-2 {
      padding:25mm 25mm 25mm 25mm !important;

      &> .col-xs-6 {
        &:first-child {
          padding-right:75px;
        }

        &:last-child {
          padding-left:75px;
        }
      }
    }
  }
}

.print-materials {
  -webkit-print-color-adjust: exact;

  h1, h2, h3, h4 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0px;
  }

  .code4sa-logo {
    max-width:100%;
  }

  .black-banner {
    background-color: black;
    padding:10px 0 10px 20px;
    margin-bottom:0;
    margin-top:0;
    font-weight: bold;
    color: white;
  }

  .header {
    position:relative;

    h1, h2, h3, h4 {
      position: absolute;
    }
  }

  .border-top-dashed {
    border-top:2px dashed rgb(0,0,0);
  }

  .border-dashed {
    border:1px dashed rgb(0,0,0);
  }

  .border-solid {
    border:1px solid rgb(0,0,0);
  }

  .tab {
    padding-left:15px;
  }

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .row-not-flex {
    display: block;
  }

  .survey-item {
    border-right:2px dashed rgb(0,0,0);

    &:last-child {
      border-right:none;
    }

    .response {
      img {
        width:100%;
        vertical-align:bottom;
      }
    }
  }
}
