.site-header {
  position: relative;

  .map {
    display: none;
  }

  h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 0.3em;
    line-height: 1;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  @media (min-width: 768px) {
    .map {
      display: block;
      position: relative;
      z-index: 10;
      width: 100%;
      height: 300px;
    }

    .site-card {
      position: absolute;
      z-index: 20;
      top: 20px;
      left: 20px;
      height: 120px;
      width: 300px;
      padding: 10px;

      border: 2px solid #f6921d;
      background: white;
    }
  }
}

.stat {
  .value {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0.2em;
  }

  .name {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 0.2em;
  }

  .context {
    font-size: 0.9em;
    line-height: 1.3;
    color: #777;
  }

}

.stat-row {
  padding-bottom: 2em;

  h3 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3;

    margin: 0px;
  }

  .chart-column {
    height: 120px;
  }
}
