<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href="{% url 'about' %}"><strong>Learn about CBM</strong></a></li>
          <li><a href="">What is CBM?</a></li>
          <li><a href="">Frequently Asked Questions</a></li>
          <li><a href="">Norms & Standards</a></li>
          <li><a href="">Batho Pele Principles</a></li>
        </ul>

      </div>
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href=""><strong>Sites</strong></a></li>
          <li><a href=""><strong>Community Partners</strong></a></li>
          <li><a href=""><strong>Sectors</strong></a></li>
        </ul>

      </div>
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href="{% url 'contact' %}"><strong>Contact</strong></a></li>
          <li><a href=""><strong>Help</strong></a></li>
          <li><a href=""><strong>Legal</strong></a></li>
        </ul>

      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</footer>
