{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href="{% url 'about' %}"><strong>Learn about CBM</strong></a></li>
          <li><a href="{% url 'about' %}">What is CBM?</a></li>
          <li><a href="{% url 'about' %}">Frequently Asked Questions</a></li>
          <li><a href="{% url 'about' %}">Norms & Standards</a></li>
          <li><a href="{% url 'about' %}">Batho Pele Principles</a></li>
        </ul>

      </div>
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href="{% url 'sites' %}"><strong>Sites</strong></a></li>
          <li><a href="{% url 'partners' %}"><strong>Community Partners</strong></a></li>
        </ul>

      </div>
      <div class="col-md-2">

        <ul class="list-unstyled">
          <li><a href="{% url 'contact' %}"><strong>Contact</strong></a></li>
          <li><a href=""><strong>Help</strong></a></li>
          <li><a href=""><strong>Legal</strong></a></li>
        </ul>

      </div>
      <div class="col-md-4">

        <form class="mailing-list-form" action="http://code4sa.us8.list-manage.com/subscribe?u=11977a67604b965526b63ee6e&id=ba09da9e2b" method="POST" target="_blank">
          <h5>Sign up to our mailing list</h5>

          <div class="input-group">
            <input class="form-control" name="EMAIL" type="email" required="required" placeholder="Your email">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </span>
          </div>

        </form>

        <div class="logos">
          <a href="http://www.blacksash.org.za" target="_blank"><img src="{% static 'img/black-sash-logo.png' %}" class="img-responsive" alt="Black Sash"></a>
        </div>

      </div>
    </div>
  </div>
</footer>
