{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href="{% url 'about' %}"><strong>Learn about CBM</strong></a></li>
          <li><a href="{% url 'about' %}">What is CBM?</a></li>
          <li><a href="{% url 'about' %}">Frequently Asked Questions</a></li>
          <li><a href="{% url 'about' %}">Norms & Standards</a></li>
          <li><a href="{% url 'about' %}">Batho Pele Principles</a></li>
        </ul>

      </div>
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href="{% url 'sites' %}"><strong>Sites</strong></a></li>
          <li><a href="{% url 'partners' %}"><strong>Community Partners</strong></a></li>
          <li><a href="{% url 'sectors' %}"><strong>Sectors</strong></a></li>
        </ul>

      </div>
      <div class="col-md-3">

        <ul class="list-unstyled">
          <li><a href="{% url 'contact' %}"><strong>Contact</strong></a></li>
          <li><a href=""><strong>Help</strong></a></li>
          <li><a href=""><strong>Legal</strong></a></li>
        </ul>

      </div>
      <div class="col-md-3">
				
        <a href="http://www.blacksash.org.za" target="_blank"><img src="{% static 'img/black-sash-logo.png' %}" class="img-responsive" alt="Black Sash"></a>

      </div>
    </div>
  </div>
</footer>
