{% load lookup %}
<div class="row">
  <div class="survey-item col-xs-4">
    {% with q=questions_dict|get:'demographics_group/age' %}
    <h4 class="question text-center">Age</h4>
    {% endwith %}
    <div class="response" data-key="demographics_group/age" data-type="6" data-width="226" data-height="288"></div>
  </div>
  <div class="survey-item col-xs-4">
    {% with q=questions_dict|get:'service' %}
    <h4 class="question text-center">{{ q.label }}</h4>
    {% endwith %}
    <div class="response" data-key="service" data-type="7" data-width="226" data-height="288" data-label-type="2"></div>
  </div>
  <div class="survey-item col-xs-4">
    {% with q=questions_dict|get:'performance_group/service_satisfaction' %}
    <h4 class="question text-center">{{ q.label }}</h4>
    {% endwith %}
    <div class="response" data-key="performance_group/service_satisfaction" data-type="8" data-width="226" data-height="288"></div>
  </div>
</div>
