{% extends "layout.html" %}
{% load static %}

{% block title %}Learn About CBM{% endblock %}
{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Learn about CBM</li>
  </ol>    
</div>
<!-- /breadcrumbs -->

<div class="section" id="about">
  
  <!-- section-header -->
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1><i class="fa fa-lightbulb-o"></i> About Community-Based Monitoring</h1>
        </div>
        <div class="col-md-4 text-right">
          <a href="" class="social-media"><i class="fa fa-twitter"></i><br>Tweet</a>
          <a href="" class="social-media"><i class="fa fa-facebook"></i><br>Share</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /section-header -->

  <!-- section-subnav -->
  <div class="section-subnav">
    <div class="container">
      <div id="subnav">
        <a href="#what-is-cbm" class="btn btn-primary btn-sm uppercase">What is CBM?</a>
        <a href="#why-do-cbm" class="btn btn-primary btn-sm uppercase">Why do CBM?</a>
        <a href="#cbm-process" class="btn btn-primary btn-sm uppercase">The CBM Process</a>
        <a href="#resources" class="btn btn-primary btn-sm uppercase">Resources</a>
      </div>
    </div>
  </div>
  <!-- /section-subnav -->

  <div class="bg-secondary bg-image add-padding-both remove-heading-margin-top" id="what-is-cbm" style="background: url({% static 'img/black-sash-protest.jpg' %}); background-position: center bottom;">
    <div class="container">
      <div class="row">
      	<div class="col-md-8 col-md-offset-2">
      	    <h2 class="text-white">What is <strong>Community-Based Monitoring (CBM)</strong>?</h2>
      	    <p class="text-white">
              <strong>Community-based monitoring (CBM) allows civil society to gather and analyse information from the service users’ points of view.</strong> It recognises that communities, citizens and public service users are active holders of fundamental rights and not merely passive users of public services. As a result, CBM provides strong evidence to take back to government and, where necessary, into the public domain, in order to better the delivery of services where needed and to acknowledge good service where it is provided.
            </p>
      	</div>
      </div>
    </div>
  </div>

  <div class="bg-gray-lighter add-padding-both remove-heading-margin-top" id="why-do-cbm">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-primary">Why do Community-Based Monitoring?</h2>
            <p>
              <strong>The goal is to promote civic engagement to realise socio-economic rights by advocating for open, transparent and accountable governance.</strong>
            </p>
            <blockquote>
              <p>
                Citizen-based monitoring (CBM) is an approach to monitoring government performance that focuses on the experiences of ordinary citizens in order to strengthen public accountability and drive service delivery improvements.
              </p>
              <p>
                <cite><a href="http://www.thepresidency-dpme.gov.za/keyfocusareas/cbmSite/CBM%20Documents/Framework%20for%20Strengthening%20Citizen-Government%20Partnerships%20for%20Monitoring%20Frontline%20Service%20Delivery.pdf">A Framework for strengthening citizen-government partnerships for monitoring frontline service delivery</a>, page 7</cite>
              </p>           
            </blockquote>
        </div>
      </div>
    </div>
  </div>
 
  <!-- diagram for large  screens -->
  <div class="hidden-xs hidden-sm bg-primary-light add-padding-both remove-heading-margin-top diagram-container-large-screens" id="cbm-process">
    <div class="container">

      <div class="text-center">
        <h2 class="text-white">How do we do CBM?</h2>
        <p>The CBM process is a <strong>cycle</strong> with 7 core steps.</p>
      </div>

      <div class="text-center">
        
        <div class="diagram" id="cbm-cycle">

          <img src="{% static 'img/cbm-cycle_wide.png' %}" width="700" height="700">
          
          <a href="#government">
            <div class="diagram-box" id="box-step1">
              <div class="diagram-caption">
                <h1>1</h1>
                <h2>Build government relationships</h2>
              </div>            
            </div>
          </a>

          <a href="#cbo-partner">
            <div class="diagram-box" id="box-step2">
              <div class="diagram-caption">
                <h1>2</h1>
                <h2>Select community partner</h2>
              </div>            
            </div>
          </a>

          <a href="#local-facility">
            <div class="diagram-box" id="box-step3">
              <div class="diagram-caption">
                <h1>3</h1>
                <h2>Engage community partner</h2>
              </div>            
            </div>
          </a>

          <a href="#monitor">
            <div class="diagram-box" id="box-step4">
              <div class="diagram-caption">
                <h1>4</h1>
                <h2>Monitor facility</h2>
              </div>            
            </div>
          </a>

          <a href="#report">
            <div class="diagram-box" id="box-step5">
              <div class="diagram-caption">
                <h1>5</h1>
                <h2>Report findings</h2>
              </div>            
            </div>
          </a>

          <a href="#dialogues">
            <div class="diagram-box" id="box-step6">
              <div class="diagram-caption">
                <h1>6</h1>
                <h2>Conduct dialogues</h2>
              </div>            
            </div>
          </a>

          <a href="#advocacy">
            <div class="diagram-box" id="box-step7">
              <div class="diagram-caption">
                <h1>7</h1>
                <h2>Engage in advocacy</h2>
              </div>            
            </div>
          </a>
          

        </div>
      </div>

    </div>
  </div>
  <!-- /diagram for large screens -->

  <!-- diagram for small  screens -->
  <div class="hidden-md hidden-lg bg-primary-light add-padding-both remove-heading-margin-top diagram-container-small-screens">
    <div class="container">

      <div class="text-center">
        <h2 class="text-white">How do we do CBM?</h2>
        <p>The CBM process is a <strong>cycle</strong> with 7 core steps.</p>
      </div>

      <div class="text-center">
        
        <div class="diagram text-center" id="cbm-cycle">

          <div class="diagram-box" id="box-step1">
            <div class="diagram-image"><img src="{% static 'img/cbm-menu_step1.png' %}"></div>
            <a href="#government">
              <div class="diagram-caption">
                <h1>1</h1>
                <h2>Build government relationships</h2>
              </div>
            </a>            
          </div>

          <div class="diagram-box" id="box-step2">
            <div class="diagram-image"><img src="{% static 'img/cbm-menu_step2.png' %}"></div>
            <a href="#cbo-partner">
              <div class="diagram-caption">
                <h1>2</h1>
                <h2>Select community partner</h2>
              </div>
            </a>            
          </div>

          <div class="diagram-box" id="box-step3">
            <div class="diagram-image"><img src="{% static 'img/cbm-menu_step3.png' %}"></div>
            <a href="#local-facility">
              <div class="diagram-caption">
                <h1>3</h1>
                <h2>Engage community partner</h2>
              </div>            
            </a>
          </div>

          <div class="diagram-box" id="box-step4">
            <div class="diagram-image"><img src="{% static 'img/cbm-menu_step4.png' %}"></div>
            <a href="#monitor">
              <div class="diagram-caption">
                <h1>4</h1>
                <h2>Monitor facility</h2>
              </div>  
            </a>
          </div>

          <div class="diagram-box" id="box-step5">
            <div class="diagram-image"><img src="{% static 'img/cbm-menu_step5.png' %}"></div>
            <a href="#report">
              <div class="diagram-caption">
                <h1>5</h1>
                <h2>Report findings</h2>
              </div>
            </a>            
          </div>

          <div class="diagram-box" id="box-step6">
            <div class="diagram-image"><img src="{% static 'img/cbm-menu_step6.png' %}"></div>
            <a href="#dialogues">
              <div class="diagram-caption">
                <h1>6</h1>
                <h2>Conduct dialogues</h2>
              </div>            
            </a>
          </div>

          <div class="diagram-box" id="box-step7">
            <div class="diagram-image"><img src="{% static 'img/cbm-menu_step7.png' %}"></div>
            <a href="#advocacy">
              <div class="diagram-caption">
                <h1>7</h1>
                <h2>Engage in advocacy</h2>
              </div>
            </a>            
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- /diagram for small screens -->

  <div class="bg-white add-padding-both remove-heading-margin-top">
    <div class="container">
      <div class="row">

        <div class="hidden-xs hidden-sm col-md-3">
          <nav class="steps-sidebar">
            <h4>The CBM Process</h4>
            <ul class="nav nav-stacked">
              <li><a href="#government">1. Build gov. relationship</a></li>
              <li><a href="#cbo-partner">2. Select community partner</a></li>
              <li><a href="#local-facility">3. Engage community partner</a></li>
              <li><a href="#monitor">4. Monitor facility</a></li>
              <li><a href="#report">5. Report findings</a></li>
              <li><a href="#dialogues">6. Conduct dialogues</a></li>
              <li><a href="#advocacy">7. Engage in advocacy</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-md-9">
          <div class="steps-content">
            <section id="government">
              <header>
                <div class="step-icon"><img src="{% static 'img/cbm_step1.png' %}" width="170" height="170"></div>
                <h4>Step 1</h4>
                <h2>Establish government relationship</strong></h2>
              </header>

              <div class="row step-detail">
                <div class="col-md-8">
                  <p>Securing physical access to government departments and their service delivery facilities is critical to the success of community monitoring programmes. Black Sash signed a memorandum of understanding with the Department of Performance Monitoring and Evaluation (DPME) supporting the CBM project undertaken by Black Sash in selected SASSA, Department of Health and Local Government sites. SASSA also provided a letter for access to select facilities for monitoring purposes. Black Sash and Community Partners build on relationships developed during previous monitoring engagements with the Department of Health and the selected local government sites.</p>
                </div>
              </div>
            </section>

            <section id="cbo-partner">
              <header>
                <div class="step-icon"><img src="{% static 'img/cbm_step2.png' %}" width="170" height="170"></div>
                <h4>Step 2</h4>
                <h2>Select community partner</h2>
              </header>

              <div class="row step-detail">
                <div class="col-md-8">
                  <ol>
                    <li>Secure MoU</li>
                    <li>Draft a code of conduct</li>
                    <li>Consider ethical issues</li>
                    <li>Engage in training</li>
                  </ol>
                  <p>To ensure that the local service improves, we need local users and organisations based in the community to be driving this process. 
                  The strength of this model lies in formulating a strong relationship with an existing community-based organisation as these are the people actively involved in their communities and understand the local context. Great care is taken to select the correct organisation to partner with. Once the selection has occurred the community partner is trained and skilled up on who best to perform this monitoring.</p>
                </div>
                <div class="col-md-4">
                  <img src="{% static 'img/black-sash-people.jpg' %}" class="img-thumbnail" width="300px" height="auto">
                </div>
              </div>
            </section>

            <section id="local-facility">
              <header>
                <div class="step-icon"><img src="{% static 'img/cbm_step3.png' %}" width="170" height="170"></div>
                <h4>Step 3</h4>
                <h2>Engage community partner</h2>
              </header>

              <div class="row step-detail">
                <div class="col-md-8">
                  <p>This step is about building leadership and skills and knowledge of the local community partner - guiding and supporting  them through the local facility engagement.</p>

                  <p>Partners are trained on building a relationship with the local government facility; the ethics of monitoring; guiding respondents through a questionnaire without invalidating the responses; norms and standards as well as policy guidelines for the government sector or agency being monitored; interpreting survey results; sharing the results with local government facility and community stakeholders at a community Dialogue; offering community members to express views for improvement of the service.</p>

                  <p>Partners are also trained on how to facilitate in a participatory and inclusive manner and how to develop the Improvement Plan. The implementation of the plan will be lead by a Joint Monitoring Committee which will regularly report back to the community on the work done, progress made and want obstacles encountered.</p>
                </div>
              </div>
            </section>

            <section id="monitor">
              <header>
                <div class="step-icon"><img src="{% static 'img/cbm_step4.png' %}" width="170" height="170"></div>
                <h4>Step 4</h4>
                <h2>Monitor facility</h2>
              </header>

              <div class="row step-detail">
                <div class="col-md-8">
                  <ol>
                    <li>select &amp; train monitors</li>
                    <li>prepare survey tools</li>
                    <li>collect the data</li>
                    <li>do site observations</li>
                    <li>finalise the data</li>
                  </ol>

                  <p>Monitoring takes place over a 3 month period each year and consists of a light-touch survey conducted by trained monitors. Responses are captured directly onto the system via mobile or desktop tools, or else are transcribed from paper-based forms. Each community partner endeavours to survey at least 300 respondents per facility in order to ensure accurate representation.</p>
                </div>
              </div>
            </section>

            <section id="report">
              <header>
                <div class="step-icon"><img src="{% static 'img/cbm_step5.png' %}" width="170" height="170"></div>
                <h4>Step 5</h4>
                <h2>Report findings</h2>
              </header>

              <div class="row step-detail">
                <div class="col-md-8">
                  <ol>
                    <li>clean the data & analyse</li>
                    <li>package the data</li>
                    <li>create a presentation</li>
                    <li>send your findings to stakeholders</li>
                  </ol>

                  <p>In order to effect local change leading to improved service delivery, it is vital that the results and output of the monitoring activities are presented back to the facility and its service users. This step is concerned with the analysis and packaging of these results. Each site is analysed and their results presented back to them by means of high-impact posters which are put up at the facility to give feedback to their users. In addition results are also packaged into a handout which is then used to plan the dialogues with.</p>
                </div>
              </div>
            </section>

            <section id="dialogues">
              <header>
                <div class="step-icon"><img src="{% static 'img/cbm_step6.png' %}" width="170" height="170"></div>
                <h4>Step 6</h4>
                <h2>Conduct dialogues</h2>
              </header>

              <div class="row step-detail">
                <div class="col-md-8">
                  <ol>
                    <li>plan some dialogue events</li>
                    <li>host the dialogues</li>
                    <li>create an improvement plan</li>
                    <li>establish a joint monitoring committee</li>
                  </ol>

                  <p>Dialogues are a platform for civil society, service users and government facilities to discuss the findings of the annual monitoring and together, form an improvement plan to address the concerns raised. This is a collaborative platform, facilitated by the community partner, from which a joint monitoring committee should be established, to track and monitor the improvement plan. Learnings from the current cycle are fed back to be taken into account when planning the next cycle. This ensures that the process is continually learning and improving and optimisations are realised as time progresses.</p>
                </div>  
              </div>  
            </section>

            <section id="advocacy">
              <header>
                <div class="step-icon"><img src="{% static 'img/cbm_step7.png' %}" width="170" height="170"></div>
                <h4>Step 7</h4>
                <h2>Engage in advocacy</h2>
              </header>

              <div class="row step-detail">
                <div class="col-md-8">
                  <p>
                    It is often the case that issues raised at a local level need provincial or even national interventions in order to address the systemic concern. 
                    We see the results of the annual monitoring surveys as providing a good indicator of the overall well being of the system, but recognise that more focused campaigns will be required to address the issues at the correct level. This is where our advocacy step fits into the larger CBM model. CBM also ensures that advocacy is evidence-based.
                  </p>
                </div>
                <div class="col-md-4">
                  <img src="{% static 'img/black-sash-2.png' %}" class="img-thumbnail" width="300px" height="auto">
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-secondary add-padding-both remove-heading-margin-top" id="resources">
    <div class="container">
      <div class="row text-center">
        <h2 class="text-white">Resources</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h5 class="text-white"><strong>Norms, standards and legislation</strong></h5>
            </div>
            <div class="panel-body">
              <ul>
                <li><a href="http://www.gov.za/sites/www.gov.za/files/a13-04_0.pdf" target="_blank">Social Assistance Act, 2004</a></li>
                <li><a href="http://www.gov.za/documents/national-health-act-regulation-norms-and-standards-applicable-certain-categories-health-19" target="_blank">National Health Act Regulations: Norms and standards</a></li>
                <li><a href="http://www.gov.za/sites/www.gov.za/files/36702_gon529_0.pdf" target="_blank">National Health Amendment Act, 2013</a></li>
                <li><a href="http://mfma.treasury.gov.za/MFMA/Legislation/Local%20Government%20-%20Municipal%20Systems%20Act/Local%20Government%20-%20Municipal%20Systems%20Act,%20No.%2032%20of%202000.pdf" target="_blank">Local Government Municipal Systems Act, 2000 (MSA)</a></li>
                <li><a href="{% static 'SASSA_Norms_and_Standards_2013.pdf' %}" target="_blank">SASSA: Norms and Standards</a></li>
                <li><a href="http://mfma.treasury.gov.za/Pages/Default.aspx">Local Government Municipal Finance Management Act (MFMA)</a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h5 class="text-white"><strong>Batho Pele</strong></h5>
            </div>
            <div class="panel-body">
              <ul>
                <li><a href="http://www.dpsa.gov.za/documents/Abridged%20BP%20programme%20July2014.pdf" target="_blank">Batho Pele principles</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h5 class="text-white"><strong>Examples & further reading</strong></h5>
            </div>
            <div class="panel-body">
              <ul>
                <li><a href="https://en.wikipedia.org/wiki/Community-based_monitoring" target="_blank">Wikipedia: Community-base Monitoring</a></li>
                <li><a href="http://communitymonitoring.org/" target="_blank">Integrity Watch in Afghanistan</a></li>
                <li><a href="http://www.nrhmcommunityaction.org/" target="blank">Community Action for Health – India</a></li>
                <li><a href="http://erc.msh.org/quality/pstools/psmoncv.cfm" target="_blank">Unicef</li>
                <li><a href="http://www.odi.org/publications/6200-community-scorecard-public-service-malawi" target="_blank">Malawi’s Public Score Card</a></li>
                <li><a href="http://internationalbudget.org/2013/06/how-are-social-audits-empowering-citizens-of-south-africa/" target="_blank">How Social Audits are Empowering Citizens of South Africa (IBP)</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}
