{% extends "base.html" %}
{% load pipeline static jsonify lookup markup_tags %}

{% block title %}Comments for {{ result_set.survey.name }} - {{ result_set.partner.short_name }} - {{ result_set.site.name }}{% endblock %}
{% block head-css %}
{{ block.super }}
<link href="{% static 'stylesheets/print-bootstrap.css' %}" rel="stylesheet" type="text/css" {% if not request.GET.print %}media="print"{% endif %} />
<style>
  .section .section-heading {
  padding: 0;
  }
  cycle-results .cycle-results-heading h2 {
    font-size: 16px;
  }
  h2, .h2 {
    font-size: 20px;
  }
  .page-section {
    padding: 0;
  }
</style>
{% endblock %}
{% block js %}
{{ block.super }}
{% javascript "site" %}
{% endblock %}
{% block content %}

{% block page-content %}
    <div class="page-content">
      <div class="wrapper">

<div class="section cycle-results">
  <!-- section-header -->
  <div class="section-heading cycle-results-heading">
    <div class="container">
      <h3><i class="fa fa-bar-chart-o"></i>Comments extracted from Black Sash MAVC programme cycle 3</h3>

      <h2>{{ result_set.survey_type.name }} survey 2016</h2>
      <h1>{{ result_set.site.name }}</h1>

    </div>
  </div>
  <!-- /section-header -->

  <div class="stat-table stat-overview page-section">
    <div class="container">
      <section class="row">
        <div class="col-sm-4">
          <div class="stat stat-number">
            <div class="name">Participants: {{ result_set.submissions.all|length }}</div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">

    {% for q in questions %}
    <h2>Q: {{ q.label }}</h2>
    <p>Number of responses: {{ q.comments|length }}</p>
    <ul>
      {% for comment in q.comments %}
      {% with count=q.comments|get:comment %}
      <li>{{ comment }}{% if count != 1 %} <em>({{ count }})</em>{% endif %}</li>
      {% endwith %}
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

</div>


{% endblock %}
{% endblock %}
