{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}
{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Contact us</li>
  </ol>
</div>
<!-- /breadcrumbs -->

<div class="section" id="contact">

  <div class="container">
    <p class="lead">We're hard at work building this CBM platform.</p>


    <div class="row">
      <div class="col-md-6">

        <p>If you're interested in using the platform please sign up to our mailing list or email us at <a href="mailto:cbm@code4sa.org">cbm@code4sa.org</a>.</p>

        {% include '_mailing_list_form.html' %}

        <br>
        <br>
      </div>
    </div>
  </div>

</div>

{% endblock %}
