{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}
{% block page-content %}

<div id="home">

  <div class="jumbotron bg-image">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-white jumbo-blurb">
          <p>Citizens and public service users are active holders of fundamental rights and not merely passive users of public services. <strong>Citizen-based monitoring (CBM)</strong> allows civil society to  gather and analyse information from the service users’ points of view. </p>
          <p><small>This provides a strong body of evidence to take back to government and, where necessary, into the public domain, in order to better the delivery of services where needed and to acknowledge good service where it is provided.</small></p>
          <a href="{% url 'learn' %}" class="btn btn-primary btn-lg uppercase">Learn about why we do it</a>
        </div>
      </div>
    </div>
  </div>

  <section class="section signup-cta-lg text-center">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
          <h2>Join our mailing list</h2>

          <p class="lead">We'll keep you updated and let you know when the platform is ready.</p>

          {% include '_mailing_list_form.html' %}
        </div>
    </div>
  </section>

  <section class="section programme-explore-menu text-center">
    <div class="container">
      <a href="{% url 'sites' %}" class="btn btn-default">Explore Sites</a>
      <a href="{% url 'partners' %}" class="btn btn-default">Explore Community partners</a>
    </div>
  </section>

</div>

{% endblock %}
