{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}
{% block page-content %}

<div id="home">

  <div class="jumbotron bg-image">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-white jumbo-blurb">
          <p>Citizens and public service users are active holders of fundamental rights and not merely passive users of public services. <strong>Citizen-based monitoring (CBM)</strong> allows civil society to  gather and analyse information from the service users’ points of view. </p>
          <p><small>This provides a strong body of evidence to take back to government and, where necessary, into the public domain, in order to better the delivery of services where needed and to acknowledge good service where it is provided.</small></p>
          <p class="text-center">
            <a href="{% url 'learn' %}" class="btn btn-primary uppercase">Learn about why we do it</a>
          </p>

        </div>
      </div>
    </div>
  </div>

  <section class="section explore-menu text-center">
    <div class="container">
      <a href="{% url 'sites' %}" class="btn btn-primary uppercase">Explore Sites</a>
      <a href="{% url 'partners' %}" class="btn btn-primary uppercase">Explore Community partners</a>
      <a href="{% url 'survey-types' %}" class="btn btn-primary uppercase">Explore Surveys</a>
    </div>
  </section>

  <section class="section video-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Why Community-Based Monitoring is Important</h2>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embde-responsive-item" src="https://www.youtube.com/embed/f72yVtpkW-Q" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section survey-section text-center">
    <div class="container">
      <h2>Our surveys</h2>
      <div class="row info">
        <div class="col-md-8 col-md-offset-2">
          <p>The Black Sash and Community Partners have been promoting citizens’ monitoring for a number of years. We work with the Department of Planning, Monitoring and Evaluation (DPME) to learn and demonstrate how government can make citizen voices an integral part of the way public services are managed.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% for type in survey_types %}
                <div class="col-xs-6 col-md-3">
                  <div class="survey-name">     
                    <a href="{% url 'survey-type' survey_type_slug=type.slug %}">{{ type.name }}</a>
                    <p>{{ type.short_description }}</p>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>    
    </div>
  </section>

  <section class="section signup-cta-lg text-center">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
          <h2>Join our mailing list</h2>

          <p class="lead">We'll keep you updated and let you know when the platform is ready.</p>

          {% include '_mailing_list_form.html' %}
        </div>
    </div>
  </section>

</div>

{% endblock %}
