{% extends "base.html" %}
{% load pipeline static jsonify lookup markup_tags %}

{% block title %}Summary for {{ location_name }} - {{ survey_type.name }} - {{ cycle.name }}{% endblock %}
{% block head-css %}
{{ block.super }}
{% stylesheet "print-materials" %}
    <link href="{% static 'stylesheets/print-bootstrap.css' %}" rel="stylesheet" type="text/css"   />
<style>
  section.stat-row {
  padding-bottom: 0;
  margin-bottom: 0;
  }
</style>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="application/javascript">
  questions = {{ results.questions_dict|jsonify }};
</script>
{% javascript "site" %}
{% endblock %}

{% block content %}

<div class="print-materials results-summary print-page a4-portrait-multi {{ layout_class }} {% if DEBUG %}debug{% endif %}">
  <div class="section cycle-results">
    <!-- section-header -->
    <div class="section-heading cycle-results-heading">
      <h3><i class="fa fa-bar-chart-o"></i> Results Preview</h3>

      <h1>{{ location_name }}</h1>
      <h2>{{ survey_type.name }}</h2>
      <h2>{{ cycle }}</h2>
    </div>
    <!-- /section-header -->

    {% include "site_results_charts_print.html" %}
  </div>

  <div class="section contributors">
    <h3>Data in this comparison</h3>
    Cycle Result Sets:
    <ul>
      {% for result_set in result_sets %}
      <li>{{ result_set }}</li>
      {% endfor %}
    </ul>
    Previous Cycle Result Sets:
    <ul>
      {% for result_set in prev_result_sets %}
      <li>{{ result_set }}</li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
