{% load staticfiles %}

{% if user.is_superuser %}
	<p>
	  <div id="odk-collect">URL: <code>https://kc.kobotoolbox.org/blacksash</code> <a data-toggle="collapse" href="#odk-howto" aria-expanded="false" aria-controls="odk-howto"><i class="fa fa-question-circle" aria-hidden="true"></i></a></div>
	  <div>Username: <code>{{ username }}</code></div>
	  <div>Password: <code>{{ password }}</code></div>
	</p>
  <p>
	  <div class="collapse" id="odk-howto">
	  	<div>For more details, please see chapter 2, "Configure application" on page 3 of the <a href="{% static 'resources/ODK_collect_user_guide.pdf' %}" target="_blank">ODK Collect guide</a>.</div>
		  <div><img src="{% static 'img/odk-credentials.png' %}" alt="ODK credentials"></div>
	  </div>
  </p>
{% else %}
  <p>In order to see the ODK Collect login details, please <a href="/admin/login/?next={{ request.path }}#odk-collect">log in</a>.</p>
{% endif %}