{% extends "layout.html" %}

{% block title %}Partners{% endblock %}
{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Community Partners</li>
  </ol>
</div>
<!-- /breadcrumbs -->

<div class="section" id="partners">

  <!-- section-header -->
  <div class="section-heading">
    <div class="container">
      <h1><i class="fa fa-group"></i> Community Partners</h1>
    </div>
  </div>
  <!-- /section-header -->


  <!-- partners-table -->
  <div class="partners-table">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped sortable">
          <thead>
            <tr>
              <th data-sort="string" class="sorttable_sorted">Partner name</th>
              <th data-sort="string">Latest Cycle Results</th>
              <th data-sort="string">Sector</th>
              <th data-sort="string">Province</th>
            </tr>
          </thead>
  {% for partner in partners %}
          <tr>
            <td><a href="{% url 'partner' partner.slug %}">{{ partner.short_name }}</a></td>
            <td>
              {% if partner.latest_complete_result %}
              <a href="{% url 'site-result' site_slug=partner.latest_complete_result.site.slug result_id=partner.latest_complete_result.id %}">
                {{ partner.latest_complete_result.cycle.start_date|date:'j F Y' }}
                - {{ partner.latest_complete_result.cycle.end_date|date:'j F Y' }}
              </a>
              {% endif %}
            </td>
            <td>{{ partner.latest_complete_result.site.sector.name }}</td>
            <td>{{ partner.latest_complete_result.site.province.name }}</td>
          </tr>
  {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
