{% extends "layout.html" %}

{% block title %}Partners{% endblock %}
{% block page-content %}

<div class="section" id="partners">
  <div class="container">

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Community Partners</li>
    </ol>    
    <!-- /breadcrumbs -->

    <div class="section-heading">
      <h1>Community Partners</h1>
    </div>


    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th>Partner name</th>
          <th>Latest Cycle Results</th>
          <th>Sector</th>
          <th>Province</th>
        </tr>
      </thead>
      <tr>
        <td>Tshedza Development Project</td>
        <td></td>
        <td>Social Development</td>
        <td>Gauteng</td>
      </tr>
      <tr>
        <td>Lebaleng</td>
        <td></td>
        <td>Social Development</td>
        <td>Gauteng</td>
      </tr>
      <tr>
        <td><a href="{% url 'partner' partner_name='folweni-crc' %}">Folweni CRC</a></td>
        <td><a href="{% url 'site-result' site_name='folweni' result_id='4' %}">Folweni Clinic - 1 Jun to 31 Jul Cycle Results</a></td>
        <td>Health</td>
        <td>Kwazulu-Natal</td>
      </tr>
    </table>

  </div>
</div>

{% endblock %}
