{% extends "layout.html" %}

{% block title %}{{ cycle.name }}{% endblock %}

{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Programmes</li>
  </ol>
</div>
<!-- /breadcrumbs -->

<div class="section" id="cycles">

  <!-- section-header -->
  <div class="section-heading">
    <div class="container">
      <h1><i class="fa fa-cogs"></i> {{ cycle.name }}</h1>
    </div>
  </div>
  <!-- /section-header -->

  <!-- programmes-table -->
  <div class="sites-table page-section">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th data-sort="string">Cycle</th>
            <th data-sort="string">Start date</th>
            <th data-sort="string">End date</th>
          </tr>
        </thead>
        {% for cycle in programme.cycles %}
          {% if cycle.programme_id == programme.id %}
            <tr>
              <td><a href="#">{{ cycle.name }}</a></td>
              <td>{{ cycle.start_date }}</td>
              <td>{{ cycle.end_date }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
  <!-- /programmes-table -->

</div>

{% endblock %}
