{% extends "layout.html" %}
{% load staticfiles %}
{% load static markup_tags %}

{% block title %}Programmes{% endblock %}
{% block page-content %}

<div class="section" id="programmes">
    <div class="container">
	<h1><b>Programmes</b></h1>
    </div>
</div>

<div class="survey-types">
    <section class="types">
	<div class="container">
	    <div class="row">
		<div class="col-md-8">
		    <p>A programme is a collection of surveys with specific research questions, administered by a collection of community partners and typically sharing common funding sources. It can have one or many cycles (frequency) and each cycle has a set of results for each survey instrument</p>
		</div>
	    </div>
	    <br>
	    <div class="row">
		{% for programme in programmes %}
		<div class="col-xs-12 col-md-4">
		    <div class="thumbnail" style="height:250px;border: 0 none;">
			<a href="{% url 'programme_detail' programme.slug %}">
			    {% if programme.program_image.first %}
			    <img class="img-rounded" src="{{programme.program_image.first.image.url}}" style="width:100%;height:200px">
			    {% else %}
			    <img class="img-rounded" src="{% static 'img/default.jpg' %}" style="width:100%;height:200px">
			    {% endif %}
			    <div class="caption">
				<h4><b>{{programme.long_name}}</b></h4>
			    </div>
			</a>
		    </div>
		</div>
		{% endfor %}
	    </div>

	</div>
    </section>
</div>


{% endblock %}
