{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}{{ programme.long_name }}{% endblock %}

{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
    <ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="{% url 'programmes' %}">Programmes</a></li>
	<li><a href="{% url 'programme_detail' programme.slug %}">{{ programme.short_name }}</a></li>
    </ol>
</div>
<!-- /breadcrumbs -->

<div class="section survey-type">
    <div class="section-heading">
	<div class="container">
	    <h1><i class="fa fa-clipboard"></i> {{programme.long_name }}</h1>
	</div>
    </div>

    <div class="sites-table page-section">
	<div class="container">
	    <div class="monitoring-period">
		<div class="row description">
		    <div class="col-sm-10">
			<p class="survey-type-detail-desc">{{ programme.description }}</p>
		    </div>
		</div>
		<div class="row">
		    <h3>Donors</h3>
		    <ul class="list-unstyled">
			{% for d in donars %}
			<li>{{d.funder.name}}</li>
			{% endfor %}
		    </ul>
		</div>
		<div class="row">
		    <h3>Surverys Conducted</h3>
		    <table class="table table-striped">
			<thead>
			    <tr>
				<th data-sort="string" class="sorttable_sorted">Survey Name</th>
				<th data-sort="string" class="hidden-xs hidden-sm">Survey Type</th>
				<th data-sort="string" class="hidden-xs hidden-sm">Submissions</th>
				<th data-sort="string" class="hidden-xs hidden-sm">Results</th>
			    </tr>
			</thead>
			<tbody>
			    {% for survey in surveys %}
			    <tr>
				<td class="hidden-xs hidden-sm">{{ survey.name }}</td>
				<td class="hidden-xs hidden-sm">{{ survey.type }}</td>
				<td class="hidden-xs hidden-sm">
				    {{survey.get_submission_count}}
				</td>
				<td><a href="{% url 'survey_download' survey.name %}">Download</a></td>
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
		<div class="row">
		    <h3>Community Partners</h3>
		    <table class="table table-striped">
			<thead lass="thead-light">
			    <tr>
				<th data-sort="string" class="sorttable_sorted">Name</th>
			    </tr>
			</thead>
			<tbody>
			    {% for p in partners %}
			    <tr>
				<td><a href="{% url 'partner' p.partner.slug %}">{{ p.partner.full_name }}</a></td>
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
    </div>
</div>

{% endblock %}
