{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}{{ survey.name }}{% endblock %}

{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
    <ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	<li><a href="{% url 'programmes' %}">Programmes</a></li>
	<li><a href="{% url 'programme_survey' survey.name %}">{{survey.name}}</a></li>
    </ol>
</div>
<!-- /breadcrumbs -->

<div class="section survey-type">
    <div class="section-heading">
	<div class="container">
	    <h1><i class="fa fa-clipboard"></i>{{ survey.name }}</h1>
	</div>
    </div>

    <div class="sites-table page-section">
	<div class="container">
	    <div class="row">
		<div class="col-md-6">
		    <h3>Survery Data</h3>
		</div>
		<div class="col-md-5 col-md-offset-1">
		    <a class="btn btn-primary" href="{% url 'survey_download' survey.name %}">
			<h5>Download all</h5>
		    </a>
		</div>
		<table class="table table-striped">
		    <thead>
			<tr>
			    <th data-sort="string" class="sorttable_sorted">Site Name</th>
			    <th data-sort="string" class="hidden-xs hidden-sm">Download</th>
			</tr>
		    </thead>
		    <tbody>
			{% for r in cycle_result_set %}
			<tr>
			    <td class="hidden-xs hidden-sm"><a href="{% url 'site' r.site.slug %}">{{ r.site.name }}</a></td>
			    <td class="hidden-xs hidden-sm"><a href="{% url 'site_survey_download' r.id %}">Download</a></td>
			</tr>
			{% endfor %}
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
</div>

{% endblock %}
