{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Resources{% endblock %}
{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Resources</li>
  </ol>
</div>
<!-- /breadcrumbs -->

<div class="section" id="resources">

  <!-- section-header -->
  <div class="section-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1><i class="fa fa-file-text-o"></i> CBM Resources</h1>
        </div>
        <div class="col-md-4 text-right">
          {% include '_social_buttons.html' %}
        </div>
      </div>
    </div>
  </div>
  <!-- /section-header -->

  <div class="container">
    <section class="page-section">
      <h3>Legislation</h3>

      <ul>
        <li><a href="http://www.gov.za/sites/www.gov.za/files/a13-04_0.pdf" target="_blank">Social Assistance Act, 2004</a></li>
        <li><a href="http://www.gov.za/documents/national-health-act-regulation-norms-and-standards-applicable-certain-categories-health-19" target="_blank">National Health Act Regulations: Norms and standards</a></li>
        <li><a href="http://www.gov.za/sites/www.gov.za/files/36702_gon529_0.pdf" target="_blank">National Health Amendment Act, 2013</a></li>
        <li><a href="http://mfma.treasury.gov.za/MFMA/Legislation/Local%20Government%20-%20Municipal%20Systems%20Act/Local%20Government%20-%20Municipal%20Systems%20Act,%20No.%2032%20of%202000.pdf" target="_blank">Local Government Municipal Systems Act, 2000 (MSA)</a></li>
        <li><a href="http://mfma.treasury.gov.za/Pages/Default.aspx">Local Government Municipal Finance Management Act (MFMA)</a>
      </ul>
    </section>

    <section class="page-section">
      <h3>Norms and standards</h3>

      <ul>
        <li><a href="{% static 'resources/SASSA_Norms_and_Standards_2013.pdf' %}" target="_blank">SASSA: Norms and Standards</a></li>
        <li><a href="http://www.dpsa.gov.za/documents/Abridged%20BP%20programme%20July2014.pdf" target="_blank">Batho Pele principles</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h3>Examples & further reading</h3>

      <h4>South Africa</h4>

      <ul>
        <li><a href="http://internationalbudget.org/2013/06/how-are-social-audits-empowering-citizens-of-south-africa/" target="_blank">How Social Audits are Empowering Citizens of South Africa (IBP)</a>
      </ul>

      <h4>Around the world</h4>

      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Community-based_monitoring" target="_blank">Wikipedia: Community-base Monitoring</a></li>
        <li><a href="http://communitymonitoring.org/" target="_blank">Integrity Watch in Afghanistan</a></li>
        <li><a href="http://www.nrhmcommunityaction.org/" target="blank">Community Action for Health – India</a></li>
        <li><a href="http://erc.msh.org/quality/pstools/psmoncv.cfm" target="_blank">Unicef</li>
        <li><a href="http://www.odi.org/publications/6200-community-scorecard-public-service-malawi" target="_blank">Malawi’s Public Score Card</a></li>
      </ul>
    </section>

  </div>
</div>

{% endblock %}
