{% extends "layout.html" %}

{% block title %}Health{% endblock %}
{% block page-content %}

<div class="section sector-details">
  <div class="container">

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'sectors' %}">Sectors</a></li>
      <li class="active">Health</li>
    </ol>    
    <!-- /breadcrumbs -->
    
    <div class="section-heading">
      <h1>Health</h1>
    </div>

    <div class="row">
      <div class="site-overview col-md-8">
        <table class="table table-bordered">
          <tr>
            <td><strong>Number of sites:</strong></td>
            <td>1</td>
          </tr>
          <tr>
            <td><strong>Number of community partners:</strong></td>
            <td>1</td>
          </tr>                      
        </table>
      </div>
      <div class="site-map col-md-4">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">

        <h2>Sites</h2>

        <table class="table table-striped sortable">
          <tr>
            <th>Site name</th>
            <th>Province</th>
          </tr>
          <tr>
            <td><a href="{% url 'site' site_name='folweni' %}">Folweni Clinic</a></td>
            <td>KwaZulu-Natal</td>
          </tr>
        </table>

        <h2>Community partners</h2>

        <table class="table table-striped sortable">
          <tr>
            <th>Partner name</th>
            <th>Province</th>
          </tr>
          <tr>
            <td><a href="{% url 'partner' partner_name='folweni-crc' %}">Folweni CRC</a></td>
            <td>KwaZulu-Natal</td>
          </tr>
        </table>

      </div>
    </div>

  </div>
</div>

{% endblock %}
