{% extends "admin/base_site.html" %}

<body>
  {% block object-tools %}
  <h1>Kobo Forms</h1>
  <div>Kobo session expires {{ kobo_access_token_expiry }}</div>

  <h3>Other available sources</h3>
  <table>
    {% for form in forms %}
    <tr>
      <td>{{ form.title }}</td>
      <td>{{ form.num_of_submissions }}</td>
      <td>
        <ul>
          {% for facility in form.facilities %}
          <li><a href="/admin/umibukela/kobo_survey/{{ form.kobo_survey_id }}/site/{{ facility.name }}/preview">{{ facility.label }}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
</body>
