{% extends "layout.html" %}

{% block title %}{{ survey_type.name }}{% endblock %}

{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'survey-types' %}">Surveys</a></li>  
    <li class="active">{{ survey_type.name }}</li>
  </ol>
</div>
<!-- /breadcrumbs -->

<div class="section" id="cycles">

  <!-- section-header -->
  <div class="section-heading">
    <div class="container">
      <h1><i class="fa fa-file-text-o"></i> {{ survey_type.name }}</h1>
    </div>
  </div>
  <!-- /section-header -->

  <!-- programmes-table -->
  <div class="sites-table page-section">
    <div class="container">
      <h3>SA: {{ total_count.count }}</h3>
      {% for province in province_count %}
      <h3>{{ province.cycle_result_set__site__province__name }}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th data-sort="string">Site</th>
            <th data-sort="string">Number of responses</th>
            <th data-sort="string">Summary</th>
          </tr>
        </thead>
        {% for site in province.sites %}
        <tr>
          <td><a href="{% url 'site' site_slug=site.cycle_result_set__site__slug %}">{{ site.cycle_result_set__site__name }}</a></td>
          <td><a href="{% url 'site-result' site_slug=site.cycle_result_set__site__slug result_id=site.cycle_result_set__id %}">{{ site.dcount }}</a></td>
          <td><a href="{% url 'site-result-summary' site_slug=site.cycle_result_set__site__slug result_id=site.cycle_result_set__id %}">Summary</a></td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>
  </div>
  <!-- /programmes-table -->
</div>

{% endblock %}