{% extends "layout.html" %}

{% block title %}{{ survey_type.name }}{% endblock %}

{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'survey-types' %}">Surveys</a></li>
    <li><a href="{% url 'survey-type' survey_type_slug=survey_type.slug %}">{{ survey_type.name }}</a></li>
    <li class="active">{{ latest_cycle.name }}</li>
  </ol>
</div>
<!-- /breadcrumbs -->

<div class="section" id="cycles">

  <!-- section-header -->
  <div class="section-heading">
    <div class="container">
      <h1><i class="fa fa-file-text-o"></i> {{ survey_type.name }}</h1>
      <p class="survey-type-detail-desc">{{ survey_type.full_description }}</p>
    </div>
  </div>
  <!-- /section-header -->

  <div class="sites-table page-section">
    
    <!--<div class="container">-->

      <div class="row">
        <div class="container">

          <div class="col-md-12"> <!--begin location nav -->
            <div class="monitoring-period">
              <p>Monitoring period:</p>

              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{ latest_cycle.name }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  {% for cycle in cycles %}
                  <li><a href="{% url 'survey-type-cycle' survey_type_slug=survey_type.slug cycle_id=cycle.cycle__id %}">{{ cycle.cycle__name }}</a></li>
                  {% endfor %}
                </ul>
              </div>

            </div> <!-- end monitoring period -->

            <div id="fixed-location-nav">
              <ul class="location-nav">
                <li><a href="#nat">National</a></li>
                {% for province in province_count %}
                <li><a href="#{{ province.cycle_result_set__site__province__slug }}">{{ province.cycle_result_set__site__province__name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <section class="location-item">
            <div class="container">

            <!-- call outs -->
              <div class="row cycle-callouts">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3 class="select-cycle">{{ latest_cycle.name }}</h3>
                  <h4>{{ latest_cycle.start_date }} - {{ latest_cycle.end_date }}</h4>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="callouts">
                    <h3 class="callouts-figure">{{ latest_cycle_resultset.count }}</h3>
                    <p class="callouts-desc">sites monitored</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="callouts">
                    <h3 class="callouts-figure">{{ total_count.count }}</h3>
                    <p class="callouts-desc">Participants</p>
                  </div>
                </div>
              </div>

              <!-- downloadable resources -->
              <p><a href="{% url 'national-summary-pdf' survey_type_slug=survey_type.slug cycle_id=latest_cycle.id %}"><i class="fa fa-download" aria-hidden="true"></i> Summary</a> &nbsp;&nbsp;
              <a href="{% url 'national-poster-pdf' survey_type_slug=survey_type.slug cycle_id=latest_cycle.id %}"><i class="fa fa-download" aria-hidden="true"></i> Poster</a></p>

            </div>
          </section>

          <section class="provinces">
          <div class="container">
          {% for province in province_count %}

          <div class="province-title">
            <h3 id="{{ province.cycle_result_set__site__province__slug }}">{{ province.cycle_result_set__site__province__name }}
              <small>
                <a href="{% url 'province-summary-pdf' survey_type_slug=survey_type.slug province_slug=province.cycle_result_set__site__province__slug cycle_id=latest_cycle.id %}">Summary</a>
                 |
                 <a href="{% url 'province-poster-pdf' survey_type_slug=survey_type.slug province_slug=province.cycle_result_set__site__province__slug cycle_id=latest_cycle.id %}">Poster</a>
              </small>
            </h3>
          </div>

            {% for site in province.sites %}
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h4>{{ site.cycle_result_set__site__name }} <small>{{ site.dcount }} participants</small></h4>
                  <p><i class="fa fa-phone" aria-hidden="true"></i> {{ site.cycle_result_set__site__telephone }}</p>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                  <a href="{% url 'site' site_slug=site.cycle_result_set__site__slug %}"><i class="fa fa-map-marker" aria-hidden="true"></i> Site information</a>
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <a href="{% url 'site-result' site_slug=site.cycle_result_set__site__slug result_id=site.cycle_result_set__id %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Site results</a>
                </div>
            </div>
            {% endfor %}


          {% endfor %}
          </div>
          </section>
            

        </div>
      </div>

    <!--</div>-->

  </div>
</div>

{% endblock %}
