{% extends "layout.html" %}

{% block title %}Surveys{% endblock %}
{% block page-content %}

<!-- breadcrumbs -->
<div class="container breadcrumb-container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Surveys</li>
  </ol>
</div>
<!-- /breadcrumbs -->

<div class="section" id="cycles">

  <!-- section-header -->
  <div class="section-heading">
    <div class="container">
      <h1><i class="fa fa-file-text-o"></i> Surveys</h1>
    </div>
  </div>
  <!-- /section-header -->

  <!-- programmes-table -->
  <div class="sites-table page-section">
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th data-sort="string">Survey type</th>
            <th data-sort="string">Decription</th>
          </tr>
        </thead>
        {% for type in survey_types %}
        <tr>
          <td><a href="{% url 'survey_type' survey_type_slug=type.slug %}">{{ type.name }}</a></td>
          <td>{{ type.description }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <!-- /programmes-table -->

</div>

{% endblock %}
