{% extends "admin/base_site.html" %}

<body>
  {% block object-tools %}
  <h1>Kobo Forms</h1>
  <div>Kobo session expires {{ kobo_access_token_expiry }}</div>

  <h3>Other available sources</h3>
  <table>
    <tr><th>Form</th><th>No of responses</th><tr>
    {% for form in forms %}
    <tr>
      <td>{{ form.title }}</td>
      <td>
        <form action="/admin/umibukela/survey_from_kobo" method="post">
          <input type="submit" value="Add">
          <input type="hidden" name="form_id" value="{{ form.kobo_survey_id }}">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
</body>
