{% extends 'posters/poster_layout.html' %}
{% load pipeline lookup static markup_tags %}
{% block survey %}
<div class="row border-top-dashed">
  <div class="survey-item col-xs-6">
    <h4 class="question text-center">{{ questions_dict.visit_reason.label }}</h4>
    <div class="response text-center" data-key="visit_reason" data-type="1" data-width="320" data-height="145"></div>
  </div>
  <div class="survey-item col-xs-6">
    <h4 class="question text-center">{{ questions_dict.waiting_time.label }}</h4>
    <div class="response text-center" data-key="waiting_time" data-type="1" data-width="320" data-height="145"></div>
  </div>
</div>
<div class="row border-top-dashed">
  <div class="survey-item col-xs-4">
    {% with q1=questions_dict|get:'yes_no_group/deductions' %}
    <h4 class="question text-center">{{ q1.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="yes_no_group/deductions" data-type="2" data-width="266.56" data-legend="yes/no" data-height="128"></div>
  </div>
  <div class="survey-item col-xs-4">
    {% with q2=questions_dict|get:'yes_no_group/complaint' %}
    <h4 class="question text-center">{{ q2.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="yes_no_group/complaint" data-type="2" data-width="266.56" data-legend="yes/no" data-height="128"></div>
  </div>
  <div class="survey-item col-xs-4">
    {% with q3=questions_dict|get:'yes_no_group/response' %}
    <h4 class="question text-center">{{ q3.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="yes_no_group/response" data-type="2" data-width="266.56" data-legend="yes/no" data-height="128"></div>
  </div>
</div>
<div class="row border-top-dashed">
  <div class="survey-item col-xs-3">
    <h4 class="question text-center">{{ questions_dict.ease_access.label }}</h4>
    <div class="response text-center" data-key="ease_access" data-type="2" data-width="199.92" data-legend="attitude" data-height="116"></div>
  </div>
  <div class="survey-item col-xs-3">
    <h4 class="question text-center">{{ questions_dict.transport_amount.label }}</h4>
    <div class="response text-center" data-key="transport_amount" data-type="1" data-width="199.92" data-height="116"></div>
  </div>
  <div class="survey-item col-xs-3">
    {% with q8=questions_dict|get:'yes_no_group/documents' %}
    <h4 class="question text-center">{{ q8.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="yes_no_group/documents" data-type="2" data-width="199.92" data-legend="yes/no" data-height="116"></div>
  </div>
  <div class="survey-item col-xs-3">
    {% with q9=questions_dict|get:'yes_no_group/safety' %}
    <h4 class="question text-center">{{ q9.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="yes_no_group/safety" data-type="2" data-width="199.92" data-legend="yes/no" data-height="116"></div>
  </div>
</div>
<div class="row border-top-dashed">
  <div class="survey-item col-xs-3">
    {% with q10=questions_dict|get:'yes_no_group/bribe' %}
    <h4 class="question text-center">{{ q10.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="yes_no_group/bribe" data-type="2" data-width="199.92" data-legend="yes/no" data-height="117"></div>
  </div>
  <div class="survey-item col-xs-3">
    {% with q11=questions_dict|get:'performance_group/clean' %}
    <h4 class="question text-center">{{ q11.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="performance_group/clean" data-type="2" data-width="199.92" data-legend="attitude" data-height="117"></div>
  </div>
  <div class="survey-item col-xs-3">
    {% with q12=questions_dict|get:'performance_group/queues' %}
    <h4 class="question text-center">{{ q12.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="performance_group/queues" data-type="2" data-width="199.92" data-legend="attitude" data-height="117"></div>
  </div>
  <div class="survey-item col-xs-3">
    {% with q13=questions_dict|get:'performance_group/respect' %}
    <h4 class="question text-center">{{ q13.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="performance_group/respect" data-type="2" data-width="199.92" data-legend="attitude" data-height="117"></div>
  </div>
</div>
<div class="row border-top-dashed">
  <div class="survey-item col-xs-3">
    {% with q14=questions_dict|get:'performance_group/assistance' %}
    <h4 class="question text-center">{{ q14.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="performance_group/assistance" data-type="2" data-width="199.92" data-legend="attitude" data-height="117"></div>
  </div>
  <div class="survey-item col-xs-3">
    {% with q15=questions_dict|get:'yes_no_group/money_lenders' %}
    <h4 class="question text-center">{{ q15.label }}</h4>
    {% endwith %}
    <div class="response text-center" data-key="yes_no_group/money_lenders" data-type="2" data-width="199.92" data-legend="yes/no" data-height="117"></div>
  </div>
  <div class="survey-item col-xs-3">
    <h4 class="question text-center">{{ questions_dict.clinic_feedback.label }}</h4>
    <div class="response text-center" data-key="clinic_feedback" data-type="2" data-width="199.92" data-legend="attitude" data-height="117"></div>
  </div>
  <div class="col-xs-3 totals-item">
    {% include 'posters/_survey_totals.html' %}
  </div>
</div>
<footer class="text-right border-top-dashed">
  <img class="code4sa-logo" alt="Code4SA" src="{% static 'img/logo-code4sa.png' %}" />
</footer>
{% endblock %}
