{% extends "base.html" %}
{% load pipeline static jsonify lookup markup_tags %}

{% block head-css %}
{% stylesheet "print-materials" %}
{% endblock %}

{% block js %}
<script type="application/javascript">
  var questions = {{ questions_dict|jsonify }};
</script>
<script type="application/javascript">
  var cycleYears = [{{ result_set.get_previous.cycle.end_date|date:'Y' }}, {{ result_set.cycle.end_date|date:'Y' }}];
</script>
{% javascript "print-materials" %}
{% endblock %}

{% block content %}
<div class="print-materials poster print-page a4-portrait {{ layout_class }} {% if DEBUG %}debug{% endif %}">
  <header class="header" style="background-image: url({% static 'img/banner-large.png' %})">
    <h1 class="banner">Citizen Monitoring</h1>
    <h1 class="partner {% if result_set.partner.full_name|length > 50 %}long{% endif %}">{{ result_set.partner.full_name }}</h1>
    <h3 class="date">{{ result_set.cycle.start_date|date:'F' }} / {{ result_set.cycle.end_date|date:'F' }} {{ result_set.cycle.end_date|date:'Y' }}</h3>
    <h2 class="site">{% if sector %}{{ sector }}: {% endif %}{{ site }}</h2>
    {% if location %}
    <h3 class="location">{{ location }}</h3>
    {% endif %}
  </header>
  <section class="survey">
  {% block survey %}
  {% endblock %}
  </section>
</div>
{% endblock %}
