{% extends "base.html" %}
{% load pipeline static jsonify lookup markup_tags %}

{% block title %}Results for {{ result_set.cycle.name }}{% endblock %}
{% block description %}Results for {{ result_set.cycle.programme.name }} {{ result_set.cycle.name }} for {{result_set.site.name }}{% endblock %}

{% block js %}
{{ block.super }}
<script type="application/javascript">
  questions = {{ questions_dict|jsonify }};
</script>
<script src="{% static 'javascript/d3.min.js' %}"></script>
<script src="{% static 'javascript/charts.js' %}"></script>
{% javascript "site" %}
{% endblock %}

{% block content %}
<div class="print poster container {{ layout_class }}">
  <header class="header">
    <img class="banner" alt="Citizen monitoring" src="{% static 'img/banner-large.png' %}" />
    <h1 class="partner text-uppercase">{{ result_set.partner.short_name }}</h1>
    <h3 class="date text-right text-uppercase">{{ result_set.cycle.start_date|date:'F' }} / {{ result_set.cycle.end_date|date:'F' }} {{ result_set.cycle.end_date|date:'Y' }}</h3>
    <h2 class="site">
      <em><b>{% if sector %}{{ sector }}: {% endif %}{{ site }}</b></em>
    </h2>
    {% if location %}
    <h3 class="location">{{ location }}</h3>
    {% endif %}
  </header>
  <section class="survey">
  {% block survey %}
  {% endblock %}
  </section>
</div>
{% endblock %}
