{% extends 'posters/poster_layout.html' %}
{% load pipeline lookup static markup_tags %}
{% block survey %}
<div class="row">
  <div class="col-xs-6 left-col">
    <div class="row">
      <div class="survey-item no-border col-xs-12">
        {% with q=questions_dict|get:'visit_reason' %}
          <h4 class="question text-center">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="visit_reason" data-type="1" data-width="350" data-height="200"></div>
      </div>
    </div>
    <div class="row">
      <div class="survey-item no-border col-xs-12">
        {% with q=questions_dict|get:'visit_frequency' %}
          <h4 class="question text-center">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="visit_frequency" data-type="3" data-width="346.84" data-height="70"></div>
      </div>
    </div>
    <div class="row">
      <div class="survey-item no-border col-xs-12">
        {% with q=questions_dict|get:'yes_no_group/documents' %}
          <h4 class="question text-center">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="yes_no_group/documents" data-type="3" data-width="346.84" data-height="70"></div>
      </div>
    </div>
    <div class="row">
      <div class="survey-item no-border col-xs-12">
        {% with q=questions_dict|get:'yes_no_group/nametag' %}
          <h4 class="question text-center">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="yes_no_group/nametag" data-type="3" data-width="346.84" data-height="70"></div>
      </div>
    </div>
    <div class="row">
      <div class="survey-item no-border col-xs-12">
        {% with q=questions_dict|get:'yes_no_group/bribe' %}
          <h4 class="question text-center">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="yes_no_group/bribe" data-type="3" data-width="346.84" data-height="70"></div>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="survey-item no-border col-xs-12">
        {% with q=questions_dict|get:'yes_no_group/alt_id' %}
          <h4 class="question text-center">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="yes_no_group/alt_id" data-type="3" data-width="346.84" data-height="70"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row no-border">
      <div class="survey-item col-xs-6">
        {% with q=questions_dict|get:'transport_amount' %}
          <h4 class="question text-center black-banner">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="transport_amount" data-type="1" data-width="182" data-height="200" data-margin-left="0" data-figure-height="170"></div>
      </div>
      <div class="survey-item col-xs-6">
        {% with q=questions_dict|get:'waiting_time' %}
          <h4 class="question text-center black-banner">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="waiting_time" data-type="1" data-width="182" data-height="200" data-margin-left="0" data-figure-height="170"></div>
      </div>
    </div>
    <div class="row">
      <div class="survey-item col-xs-6">
        {% with q=questions_dict|get:'performance_group/clean' %}
          <h4 class="question text-center black-banner">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="performance_group/clean" data-type="2" data-width="182" data-height="200" data-legend="attitude" data-figure-height="170" data-legend-format="bar" data-margin-left="0"></div>
      </div>
      <div class="survey-item col-xs-6">
        {% with q=questions_dict|get:'performance_group/queues' %}
          <h4 class="question text-center black-banner">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="performance_group/queues" data-type="2" data-width="182" data-height="200" data-legend="attitude" data-figure-height="170" data-legend-format="bar" data-margin-left="0"></div>
      </div>
    </div>
    <div class="row">
      <div class="survey-item col-xs-6">
        {% with q=questions_dict|get:'performance_group/respect' %}
          <h4 class="question text-center black-banner">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="performance_group/respect" data-type="2" data-width="182" data-height="200" data-legend="attitude" data-figure-height="170" data-legend-format="bar" data-margin-left="0"></div>
      </div>
      <div class="survey-item col-xs-6">
        {% with q=questions_dict|get:'clinic_feedback' %}
          <h4 class="question text-center black-banner">{{ q.label }}</h4>
        {% endwith %}
        <div class="response text-center" data-key="clinic_feedback" data-type="2" data-width="182" data-height="200" data-legend="yes/dk/no" data-figure-height="170" data-legend-format="bar" data-margin-left="0"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        {% include 'posters/_survey_totals.html' %}
      </div>
      <div class="col-xs-6 text-right">
        <img class="code4sa-logo" src="{% static 'img/logo-code4sa.png' %}" alt="code4sa" />
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
