{% load lookup %}
<div class="row">
  <div class="survey-item col-xs-4">
    {% with q=questions_dict|get:'demographics_group/age' %}
    <h4 class="question text-center">Age</h4>
    {% endwith %}
    <div class="response" data-key="demographics_group/age" data-type="6" data-width="226" data-height="200"></div>
  </div>
  <div class="survey-item col-xs-4">
    {% with q=questions_dict|get:'visit_reason' %}
    <h4 class="question text-center">{{ q.label }}</h4>
    {% include "print-materials/handouts/_value_table.html" with q=q %}
    {% endwith %}
  </div>
  <div class="survey-item col-xs-4">
    {% with q=questions_dict|get:'demographics_group/disability' %}
    <h4 class="question text-center">{{ q.label }}</h4>
    {% endwith %}
    <div class="response" data-key="demographics_group/disability" data-type="2" data-legend="yes/no" data-width="226" data-height="200"></div>
  </div>
</div>
<div class="row padding-top">
  <div class="survey-item col-xs-5">
    {% with q=questions_dict|get:'distance' %}
    <h4 class="question text-center">{{ q.label }}</h4>
    {% endwith %}
    <div class="response" data-key="distance" data-type="2" data-legend="yes/no" data-width="250" data-height="200"></div>
  </div>
  <div class="survey-item col-xs-7">
    {% with q=questions_dict|get:'demographics_group/income' %}
    <h4 class="question text-center">{{ q.label }}</h4>
    {% include "print-materials/handouts/_value_table.html" with q=q %}
    {% endwith %}
  </div>
</div>
